<div class="aluminenav">
    <a class="allvasak" href="/">
        <img src="/assets/klubilogo.png" height="60">
        <span class="logo-pealkiri-alumine">Hiking<br>Club</span>
    </a>
    <nav>
        <a href="/">Home</a>
        <a href="/treks">Upcoming treks</a>
        <a href="/news">News</a>
        <a href="/contact">Contact us</a>
    </nav>

    <div class="tekstidikoonid">
        <span style="font-size:22.37px; font-weight: bolder; background-color: black; color: white;">CALL NOW
             <br>
            <span style="font-size:32.69px; font-weight: bolder; background-color: black; color: white; padding-bottom: 0px;">1800 888 555</span>
        </span>
        <span>© Hiking Club 2020. All rights reserved.</span>
       <div class="icons">
        <img src="/assets/ikoon1.png" height="30">
        <img src="/assets/ikoon2.png" height="30">
        <img src="/assets/ikoon3.png" height="30">
        <img src="/assets/ikoon4.png" height="30">
    </div>    

</div>