<div class="pais">
  <a class="pais-vasak" href="/">
     <img src="/assets/klubilogo.png" height="60">
     <span class="logo-pealkiri">Hiking<br>Club</span> 
  </a>
  <nav>
      <a href="/">Home</a>
      <a href="/treks">Upcoming treks</a>
      <a href="/news">News</a>
      <a href="/contact">Contact us</a>
  </nav>                
</div>