.matkad {
    background-color: rgb(49, 49, 49);
    padding: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
}

.matk {
    background-color: rgba(242, 243, 245, 0.951);
    padding: 10px;
}

