<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
  
  <div class="">
    <div class="container-fluid pais-sektsioon">
        <%- include ("../partials/nav.ejs") %>
        <div class="sisu">
            <h2>Climb for better</h2>
            <h1>Get out now</h1>
            <h4>Join us for the weekend to climb the highest peak in England</h4>
            <button>View upcoming treks</button>
            <div class="pildistajanaine"></div>
            <div class="vari2"></div>
            <div class="liblikas3"></div>
            <div class="liblikas4"></div>
        </div>
    </div>
    
    <div class="container-fluid kesk-sektsioon">
        <div class="sisu2">
            <img src="assets/choose.png" height="30">
            <h1>These Best <br> Treks For Spring</h1>
            <h3>Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna
                aliqua. Quis ipsum su spendisse ultrices
                gravida. Risus commodo viverra maec
                enas accumsan lacus vel facilisis.
            </h3>            
                            
            <div class="binokliga2"></div>
            <div class="binokliga1"></div>
            <div class="kaardivaatajad"></div>
            <div class="vari3"></div>
        </div>
    </div>    
        
    <%- include ("../partials/aluminenav.ejs") %>

</body>
</html>
