<!DOCTYPE html>
<html>

<head>
    <title>Matkaklubi - Uudised</title>
    <%- include ("../partials/header.ejs") %>
</head>

<body>

    <div class="container-fluid pais-sektsioon">
        <%- include ("../partials/nav.ejs") %>
            <div> siia tulevad uudised</div>
    </div>
</body>

</html>